@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400,500,600,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  display: grid;
  height: 100%;
  place-items: center;
  background: #bda6ce;
}

.wrapper {
  width: 400px;
  height: 400px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.wrapper .title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  line-height: 80px;
  background: #9b8ec7;
  padding-left: 20px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  user-select: none;
}

.wrapper form {
  padding: 30px 25px 25px 25px;
}

.wrapper form .field {
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

.wrapper form .field input {
  height: 100%;
  width: 100%;
  padding-left: 60px;
  font-size: 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.wrapper form .field input:focus {
  border-color: #9b8ec7;
}

.wrapper form .field i{
  position: absolute;
  width: 47px;
  height: 100%;
  background: #9b8ec7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  border: 1px solid #9b8ec7;
  border-radius: 5px 0 0 5px;
}

.wrapper form .field.button input {
  color: #fff;
  background: #9b8ec7;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding-left: 0;
}

.wrapper form .pass{
  margin: -8px 0 20px 0;
}
.wrapper form .pass a{ 
  color: #9b8ec7;
  font-size: 17px;
  text-decoration: none;
}
.wrapper form .signup{
  margin: 10px 0 20px 0;
  text-align: center;
}
.wrapper form .signup a{ 
  color: #9b8ec7;
  font-size: 17px;
  text-decoration: none;
  /* margin-top: 20px; */
}

.wrapper form .pass a:hover{
  text-decoration: underline;
}